appdirs==1.4.4
certifi==2026.1.4
charset-normalizer==3.4.4
circup==2.3.0
click==8.3.1
idna==3.11
mpremote==1.27.0
platformdirs==4.5.1
pyserial==3.5
requests==2.32.5
semver==3.0.4
toml==0.10.2
update-checker==0.18.0
urllib3==2.6.3
